doctype html
html(lang="en" ng-app="foodApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")

    title Food App
    link(rel="stylesheet", href="static/css/app.min.css")
  body
    ol.breadcrumb
      li
        a(ui-sref="root") Home
      li
        a(ui-sref="search") Search
      li
        a(ui-sref="favorites") Show Favorites
    
    div(ui-view)


    script(src="/static/js/app.min.js")
