<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        
        <h3>My Favorites</h3>

        <table class="table table-hover table-striped" ng-if="!showTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="fav in favs">
              <td >{{fav.id}}</td>
              <td><a href="" ui-sref="item({id: fav.id})">{{fav.name}}</a></td>
              <td>Delete favorite</td>
            </tr>
          </tbody>
        </table>

        <div class="alert alert-info" ng-if="showTable">
          You don't have any favorite yet
        </div>

    </div>
  </div>
</div>
