<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>AngularJs Coding Callenge</h2>
        <p>You’ll create an AngularJS web application to showcase your Angular and JavaScript skills.</p>
        <p>The app will consume a web service and display the results for browsing. You’ll use services,routing, localStorage and everything from the UI, tooling will be evaluated. When complete, you’ll upload your code to a GitHub public repository and share the URL for review.</p>
        <h3>Objective:</h3>
        <p>Using the latest version of AngularJS (1.4.x) and Bootstrap (AngularUI or CSS), develop an Angular web application to display Food Reports from the USDA National Nutrient Database.</p>
        <h3>Scope</h3>
        <ul>
          <li>As a user I want to search for a specific food and view the results.</li>
          <li>As a user I want to select a food to view a &quot;Basic Report&quot; on a new page.</li>
          <li>As a user I want the food report (Basic Report) to display all nutrients and their values in grams.</li>
          <li>As a developer I want an angular service to consume the API.</li>
          <li>As a developer I want the data to be saved and retrieved from html5 localStorage.</li>
          <li>As a developer I want an API key so I can call the NDB REST API.</li>
        </ul>




      </div>
    </div>
  </div>
</div>