<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 search-container">
      <div class="form-group">
        <label class="search-title"> Food Search </label>
        <input type="text" class="form-control" ng-model="query.name" ng-init="query.name= '' " placeholder="search a food">
        <span class="clear-search" ng-click="clearInput()" ng-if="query.name != ''">x</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4" ng-repeat="item in foodList | filter: query">
      <div class="item-container" >
        <span class="item-id">{{item.id}}</span>
        <a ui-sref="item({id: item.id})" title="View report" class="item-name">{{item.name}}</a>
        <a href="" class="fav" ng-click="addFavorite(item)">Favorite</a>
      </div>

    </div>
    <div class="col-md-6">
      <div ui-view></div>
    </div>
  </div>
</div>
